       <div>
        <br>
        <img src="/assets/Cam-Sel2.jpg" alt="Campus Placement"  class="center" style="width:400px;height:300px;">
        <br>
            <h1 style="text-align: center;"><span>Campus Selection 2021-2022</span> </h1><br>
			<img src="/assets/cam1.jpg" alt=""  style="width:800px;height:550px;" class="center"><br><br><br>
            <h1 style="text-align: center;"><span>Campus Selection 2022-2023</span></h1><br>
			<img src="/assets/cam2.jpg" alt="" class="center" style="width:800px;height:550px;">
       </div> 
		