<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">

            <div class="col-lg-13">
                
                <h1 class="mb-4"><span>About Us</span></h1>
                <h5 class="mb-4" style="text-align:justify;"> Dr B.R Ambedkar University Of Technology, West Bengal was conceptualized under 
                    the aegis of the Techno India Group and was established by virtue of the WB State Legislature Act in the year 2011. 
                    It has been one of the dream projects of the Chief Minister of West Bengal. Standing tall as the
                     first private university of West Bengal is an institute of world-wide repute in 
                     the field of education, research and technology. Ever since its inception, Dr B.R Ambedkar University Of Technology, West Bengal’s 
                     undergraduate, postgraduate and doctoral candidates have shown remarkable performances in their respective fields
                      on account of the high quality education imparted by our distinguished professors and mentors. History bears 
                      testimony to the fact that Dr B.R Ambedkar University Of Technology, West Bengal has earned its well-deserved respect and recognition 
                      in the world of education, research and technology primarily due to its strong emphasis on the holistic grooming and 
                      development of the students.</h5>
                
                      <h1 class="mb-4"><span>Mission</span></h1>
                <h5 class="mb-4" style="text-align:justify;"> The mission of Dr B.R Ambedkar University Of Technology, West Bengal 
                    is to create a sustainable flow of quality human resources capable of successfully overcoming the global challenges 
                    of tomorrow and contributing effectively to global well-being at the forefront of knowledge. Apart from these, 
                    cultivating adaptation of ethics, morality and healthy practices in professional life, Inculcating habits of 
                    constant learning, encouraging and supporting creative abilities and research temperament, ascertaining and
                     fostering close interaction with industries and other utility sectors and keeping abreast with state-of-the-art technology 
                     is our mission.</h5>

                <h1 class="mb-4"><span>Vision</span></h1>
                <h5 class="mb-4" style="text-align:justify;"> Dr B.R Ambedkar University Of Technology, West Bengal aspires to be amongst
                     the top 20 international universities. For this reason Techno India University, West Bengal is making every effort
                     . to reach the apex of academic brilliance by imparting education of the highest standards using state-of-the-art
                      pedagogical strategies. At the same time it also aspires to be the most sought-after hub for intellectual 
                      development, research proliferation and skill enhancement.Dr B.R Ambedkar University Of Technology, West Bengal has built 
                      one of the best Industry-Academia interfaces to leverage the best collaborative output in terms of recruitment, 
                      industry training, research and consultancy.</h5>
                
            </div>
        </div>
    </div>
</div>
<!-- About End -->