span{
    background-color:rgb(224, 80, 18); 
    color:rgb(245, 245, 245);
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    font-style: italic;
}
h1{
    text-align:center;
}
h5{
    font-weight: bold;
    font-style: oblique;
    color: white;
}