<!-- Carousel Start -->

<div class="container-fluid p-0 mb-5">
    <!--<div class="owl-carousel header-carousel position-relative">-->
    <div class="owl-carousel-item position-relative">
        <img style="width: 150%;" class="img-fluid" src="/assets/carousel-1.jpg" alt="nt loaded">
        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
            <div class="container">

                <div class="row justify-content-start">
                    <div class="col-sm-10 col-lg-8">
                        <h1 class="display-6 text-white animated slideInDown">What Starts Here Changes The World</h1><br>
                        <p class="fs-5 text-white mb-4 pb-2">Suiting Up for Success</p>
                    
                        
                        <a class="btn btn-info py-md-3 px-md-5 animated slideInRight" aria-current="page" routerLink="/student-sign-up" routerLinkActive="active" href="">Join Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

   

    <!-- Carousel End -->
    <div class="container-xxl py-5">
        <div class="container">
            <h1 class="mb-4"><span>Dr B.R Ambedkar University Of Technology</span></h1><br>
            <h5>Dr B.R Ambedkar University Of Technology, West Bengal was conceptualized under 
                the aegis of the Techno India Group and was established by virtue of the WB State Legislature Act in the year 2011. 
                It has been one of the dream projects of the Chief Minister of West Bengal. Standing tall as the
                 first private university of West Bengal is an institute of world-wide repute in 
                 the field of education, research and technology. Ever since its inception, Dr B.R Ambedkar University Of Technology, West Bengal’s 
                 undergraduate, postgraduate and doctoral candidates have shown remarkable performances in their respective fields
                  on account of the high quality education imparted by our distinguished professors and mentors. History bears 
                  testimony to the fact that Dr B.R Ambedkar University Of Technology, West Bengal has earned its well-deserved respect and recognition 
                  in the world of education, research and technology primarily due to its strong emphasis on the holistic grooming and 
                  development of the students.
            </h5>
            <br>
            
            <!--Galary-->
            <h2 style="text-align:center ;"><span>Gallery</span></h2>
            <p style="text-align:justify;">
                <div class="gallery">
                    <a target="_blank" href="/assets/g2.jpg">
                        <img src="/assets/g2.jpg" alt="" width="800" height="600">
                    </a>
                    <!--<div class="desc">Add a description of the image here</div>-->
                </div>

                <div class="gallery">
                    <a target="_blank" href="/assets/G1.jpg">
                        <img src="/assets/G1.jpg" alt="" width="800" height="600">
                    </a>
                    <!--<div class="desc">Add a description of the image here</div>-->
                </div>

                <div class="gallery">
                    <a target="_blank" href="/assets/g3.jpg">
                        <img src="/assets/g3.jpg" alt="" width="800" height="600">
                    </a>
                    <!--<div class="desc">Add a description of the image here</div>-->
                </div><br><br>


                <div class="gallery">
                    <a target="_blank" href="/assets/g4.jpg">
                        <img src="/assets/g4.jpg" alt="Mountains" width="400" height="400">
                    </a>
                    <!--<div class="desc">Add a description of the image here</div>-->
                </div>
                <div class="gallery">
                    <a target="_blank" href="/assets/g5.jpg">
                        <img src="/assets/g5.jpg" alt="" width="800" height="600">
                    </a>
                    <!--<div class="desc">Add a description of the image here</div>-->
                </div>

                <div class="gallery">
                    <a target="_blank" href="/assets/g6.jpg">
                        <img src="/assets/g6.jpg" alt="" width="800" height="600">
                    </a>
                    <!--<div class="desc">Add a description of the image here</div>-->
                </div><br>
        </div>
    </div><br><br><br><br><br><br><br><br><br><br><br><br>