<app-adminpanel></app-adminpanel>

<div class="main">
 <h1 style="text-align:center;"><span>Dashboard</span></h1><br><br><br><br>
  <div class="gallery">
   
    <h1 style="text-align:center;color: rgb(219, 26, 196);font-style: oblique;">Students</h1><br>
    <h3 style="text-align:center;">Total Students: 180</h3>
    <h3 style="text-align:center;">Newely Added: 5</h3><br>
    <button class="button" (click)="students()">Visit</button>
  </div>
  
  <div class="gallery" >
    
    <h1 style="text-align:center;color: red; font-style: oblique;">Faculties</h1><br>
    <h3 style="text-align:center;">Total Faculties: 60</h3>
    <h3 style="text-align:center;">Newely Added: 3</h3><br>
    <button class="button" (click)="faculties()">Visit</button>

  </div>
  
  <div class="gallery">
   
    <h1 style="text-align:center;color: rgb(216, 170, 44);font-style: oblique;">Staff</h1><br>
    <h3 style="text-align:center;">Total Staff: 30</h3>
    <h3 style="text-align:center;">Newely Added: 2</h3><br>
    <button class="button" (click)="staff()">Visit</button>
  </div>

  <div class="gallery">
    
    <h1 style="text-align:center;color: red;font-style: oblique;">Branch</h1><br>
    <h3 style="text-align:center;">Total Branch: 3</h3>
    <h3 style="text-align:center;">Newely Added: 1</h3><br>
    <button class="button" (click)="courses()">Visit</button>
  </div><br><br>
</div>