<div class="container-xxl py-5">
    <div class="container">


        <h1 class="mb-4"><span>Training & Placement Department</span></h1><br><br>
        <h3 style="text-align:left ;"><span>About Department:</span></h3><br>
        <h5>Dr B.R Ambedkar University Of Technology, West Bengal
             promises prosperous professional careers for students to each and every academic stream, catering to the 
             holistic grooming of students prior to exposing them to a strict campus drive ambience. A centralized placement
              cell aids in providing valuable insights regarding the campus recruitment processes and strategies which has 
              greatly boosted the placement record of the university.Dr B.R Ambedkar University Of Technology, West Bengal welcomes innumerable 
              renowned corporate and academic institutes for placement drives.Dr B.R Ambedkar University Of Technology, West Bengal presents a 
              suitable platform for interaction between final year students and MNCs and other recruiting organizations that
              offer internships to them for understanding the real life of the corporate tasks which in turn help them in deciding 
              their future careers. The recruiters assess the true capabilities of the selected handful by monitoring their
               performances in real world tasks.
        </h5><br><br>

        
    </div>
</div>

